@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  background-color: hsl(30, 38%, 92%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

h1,
h2,
p {
  margin: 0;
}

main {
  /* background-color: red; */

  width: 650px;
  min-height: 400px;

  display: flex;

  border-radius: 14px;

  overflow: hidden;
}

.photo {
  /* background-color: blue; */

  width: 300px;

  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  background-color: white;

  width: 350px;

  padding: 28px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 7px;
  color: hsl(228, 12%, 48%);
}

.content h1 {
  font-family: "Fraunces", serif;
  font-size: 42px; /* 14px x 3 */
  line-height: 1;
  color: hsl(158, 42%, 18%);
}

.content p {
  font-weight: 500;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);;
}

.content div {
  display: flex;
  align-items: center;

  gap: 14px;
}

.content span {
  font-family: "Fraunces", serif;
  font-size: 42px; /* 3 * 14px */
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.content s {
  color: hsl(228, 12%, 48%);
}

.content button {
  border: 0;

  font-family: inherit; /* Toma los estilos de la fuente padre*/
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 14px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  border-radius: 7px;
  cursor: pointer;
}